coeff "left" {
        filename: "dirac pulse";        # Use dirac-pulse for testing
#        filename: "/storage/my/coeffs_left.txt";
        format: "text";         # S16_BE, S16_LE, FLOAT_LE ...
        attenuation: 0;
};

coeff "right" {
        filename: "dirac pulse";        # Use dirac-pulse for testing
#        filename: "/storage/my/coeffs_right.txt";
        format: "text";
        attenuation: 0;
};

input "left", "right" {
        device: "file" { path: "/run/pulse/fifo_output"; };  # module and parameters to get audio
        sample: "S16_LE";   # sample format
        channels: 2/0,1;    # number of open channels / which to use
        mute: false,false;  # mute active on startup for each channel
};

output "left", "right" {
        device: "file" { path: "/run/pulse/fifo_output"; };  # module and parameters to put audio
        sample: "S16_LE";   # sample format
        channels: 2/0,1;    # number of open channels / which to use
        mute: false,false;  # mute active on startup for each channel
};

filter "left" {
        inputs: "left";
        outputs: "left";
        coeff: "left";
};

filter "right" {
        inputs: "right";
        outputs: "right";
        coeff: "right";
};

